#computer-div{
    color: darkblue;
}
#user-div{
    color: teal;
}
#result-div{
    color: black;
}

#computer-choice{
color: black;
}


#user-choice{
    color:tomato;
}

#result{
    color: darkblue;
}